/* Styling */
//imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";

body {
    background: #7373cc;
}

//portfolio items
figure {
    background: white;
    max-width: 300px;
    padding: 1em;
    text-align: center;

}
figure img {
    box-shadow: 2px 2px 2px gray;
}