/* Styling */
//imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";

body {
    background: #7373cc;
}

//Layout
main {
    background: #aef6fc;
    margin: 0 auto;
    width: 90%;
}
// RWD header img
main header img {
    max-height: 400px;
    width: 100%;
    max-width: 100%;
}

//portfolio items
figure {
    background: white;
    max-width: 300px;
    padding: 1em;
    text-align: center;

}
figure img {
    box-shadow: 2px 2px 2px gray;
}

article {
    display: flex;
    flex-wrap: wrap;
}

article figure {
    background: orange;
        padding: 2em;
    width: 20em;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}